* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100%;
  width: 100%;
}

/* Carousel */
.carousel-mini-cards {
  padding: 20px 0 60px 0;
}

.slider-dot-list {
  bottom: 1rem;
}

.slider-dot-list button {
  padding: 7px !important;
  border: none !important;
  background-color: #bebebe;
}

.react-multi-carousel-dot--active button {
  background-color: #00a3c8 !important;
}
